.article {
  line-height: 1.5;
  text-align: start;
  overflow-wrap: normal;
  width: 80%;

  p {
    margin: 16px 0 !important;
  }
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
}

@media only screen and (max-device-width: 480px) {
  .article {
    width: 90%;
  }
}
